
.features-section .features-item:hover ,
.section-title .title::before,
.home-section{
    background-color: #6a040f;
}
.faq-section .support-text a,
.product-section .product-content .product-price .new-price,
.features-section .features-item .icon i,
.about-section .about-content ul li i,
.section-title .title,
.mybtn1:hover,
.mybtn1{
    color: #6a040f;
}
.contact-section .contact-form .form-control:focus{
    border-color: #6a040f;
}